.home-container {
  display: flex;
  flex-direction: column;
}

.suggested-home-tittle {
  font-size: 18px;
  color: #fff;
  margin-left: 16px;
}

.suggestion-row {
  margin-left: 16px;
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1.2rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scrollbar-color: transparent;
  margin-right: 16px;
}

.button-row {
  margin-left: 16px;
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 0.75rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scrollbar-color: transparent;
}

.event-column {
  display: grid;
  grid-auto-flow: row;
  gap: 1.2rem;
  scrollbar-width: none;
  scrollbar-color: transparent;
  margin-right: 16px;
  margin-left: 16px;
}

.total-events {
  font-size: 14px;
  color: #cccccc;
  text-align: left;
  margin-left: 16px;
}

.home-page-text{
  font-family: 'Open Sans', sans-serif;
font-weight: normal;
font-size: 18px;
line-height: 24px;
}
