.home-container {
  display: flex;
  flex-direction: column;
  margin-left:16px
}

.suggested-home-tittle {
  font-size: 18px;
  color: #fff;

}

.suggestion-row {
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1.2rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scrollbar-color: transparent;
  overflow: auto;
}

.suggestion-row::-webkit-scrollbar {
  width: 0; /* Hide the scrollbar */
}


.button-row {
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1.2rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scrollbar-color: transparent;
  margin-right: 16px;
  overflow: auto;

}

.event-column {
  display: grid;
  grid-auto-flow: row;
  gap: 1.2rem;
  scrollbar-width: none;
  scrollbar-color: transparent;
  margin-right: 16px;
 margin-bottom: 16px;
}

.total-events {
  color: #CCCCCC;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: left;
}



@media (min-width: 600px) {
  .home-container{
    margin-left: 108px;
    margin-right: 108px;
    
  }
  .search-bar-container{
    display: flex;
    justify-content: center;
  }
  .button-row {
    width: 450px;
}
}

