.AllButton{
    background-color: #1E1D23;
    border: 0px;
    color: #6B6A6E;
    height: 34px;
    border-radius: 5px;
    cursor: pointer;

}

.AllButton.selected {
    background-color: #026CDF;
    border: 0px;
    color: #fff;
    outline: none;
}

.AllButton:hover,
.AllButton:focus,
.AllButton:active {
    background-color: #026CDF;
    border: 0px;
    color: #fff;
    outline: none;
}