.event-card-container {
  text-align: left;
  display: flex;
  width: 396px;
  height: 328px;
  background-size: cover;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  color: #fff;

  transition: transform .2s ;
}

.event-card-container:hover{
  transform: scale(1.05);
  backdrop-filter: none;
}

.info-box {
    /* From https://css.glass */
    background-color: linear-gradient(to bottom, rgba(44, 44, 44, 0.4), rgba(114, 114, 114, 0));
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(5px);
    width: 396px;
    height: 110px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }
  

.info-text {
 
   line-height: 22px;
  margin-left: 16px;
}

.event-card-date {
    margin-left: 334px;
    margin-right: 46px;
    margin-top: 10px;
    border-radius: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    background: rgba(2, 0, 36, 0.5); /* Adjust the alpha value (0.5) for transparency */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 46px;
    height: 46px;
  }

.event-date-day{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
}

.event-date-month{
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 13px;
}


  .price-box {
    z-index: 1;
    position: absolute; 
    top: 202px;
    right: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 23px;
    height: 36px;
    width: 76px;
    background-color: #fff;
    color: #2c2c2c;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 13px;
  }
  

  .event-card-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: medium;
    font-size: 18px;
    line-height: 24px;
  }
  
  .event-card-info {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }
