
/* Font Styles */

/* Bold 20px-27px */
.bold-20px-27px {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    margin: 0;
  }
  
  /* Semibold 18px-24px */
  .semibold-18px-24px {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
  }
  
  /* Regular 14px-19px */
  .regular-14px-19px {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin: 0;
  }

  .regular-14px-13px {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 13px;
    margin: 0;
  }
  
  /* Regular 16px-22px */
  .regular-16px-22px {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
  }
  
  /* Medium 16px-22px */
  .medium-16px-22px {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
  }
  
/* Medium 18px-24px*/
.medium-18px-24px{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}


  /* Bold 18px-24px */
  .bold-18px-24px {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
  }

  /* Bold 16px-22px */
  .bold-16px-22px{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
  }
  
  /* Bold 14px-13px */
  .bold-14px-13px {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 13px;
    margin: 0;
  }

  .regular-18px-24px{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
  }

  .regular-20px-27px{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    margin: 0;
  }
  

  @media (min-width: 768px) {
    .medium-18px-24px{
      font-weight: bold;
    }
    .bold-16px-22px{
      font-weight: normal;
    }
    
  }