.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
}

.nav-title {
  color: #ffffff;
  margin-top: 25px;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 16px;
  margin-right: 16px;
}

.profile-pic {
  border-radius: 57px;
  width: 29px;
  height: 29px;
  margin-top: 24px;
}
.nav-user {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  color: #ffffff;
}

.profile-name {
  margin-top: 28px;
  margin-right: 8px;
}

.nav-divider {
  opacity: 0;
}

@media (min-width: 600px) {
  .nav-divider {
    opacity: 0.1;
    height: 1px; /* Set the height to 1px */
    background-color: #ffff;
    border: none;
    margin-left: 108px;
    margin-right: 108px;
    margin-top: 31px;
    margin-bottom: 31px;
  }

  .navbar-container{
    
    margin-left: 108px;
    margin-right: 108px;
  }
}
