.search-container{
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1E1D23;
    width: 396px;
    height: 48px;
    margin-top: 25px;
    margin-left: 16px;
    margin-right: 16px;
}
.search{
    background-color: #1E1D23;
    width: 346px;
    border: none;
    color: white;
    &::placeholder {
        font-size: 16px;
        width: 138px;
        color: #6B6A6E;
        margin-left: 10px;
        float:left;
    }
    &:focus{
        outline: none;
    }
}

.search-icon{
    width: 24px;

    margin-left:16px;
    margin-top: 12px;
    margin-bottom: 12px;
 
}

.slider-icon {
    margin-left:16px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 16px;
    
   
}

@media (min-width: 600px) {
    .search-container{
      width:565px;
        align-items: center;
    }
    .search{
        width: 100%;
    }
    .search-icon{
        width: 40px;
    }
    .slider-icon{
        height: 22px;
        width: 40px;
        margin: 0;
    }
    
}